
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    transition: color .5s ease, background .5s ease;
}

ul{
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white;
}
nav{
    height: 8vh;
    padding: 2vh 2%;
    position: relative;
    z-index: 99;
}

nav ul{
    margin-left: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

nav ul a{
    color: white;
    background: black;
    padding: 8px calc(6px + 0.4vw);
    border-radius: 4px;
    text-align: center;
    margin: 0 8px;
    font-size: calc(6px + 0.4vw);
    font-weight: 800;
}

nav ul a:hover{
    background: red;
    color: white;
}

.sec1{
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5vh 0;
    background: royalblue;
}
.bgsc1{
    width: 100%;
    height: 100%;
}
.bgsc1 .cardsc1{
    display: none;
}
.bgsc1 .sombrasc1{
    display: none;
}
@keyframes wide{
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
.cardsc1 img{
    max-width: 100%;
    width: 100%;
    height: auto;
}
.sombrasc1 img{
    max-width: 100%;
    width: 100%;
    height: auto;
}
.textsc1{
    width: 100%;
    padding: 0 2%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textsc1 h1{
    font-size: 22px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: red;
}

.textsc1 p{
    font-size: calc(8px + 0.3vw);
    color: white;
    margin-bottom:4px;
}

.textsc1 a{
    padding: 5px 0;
    display: block;
    margin: 5px 0;
    width: 100%;
    color: black;
    background: white;
    border-radius: 10px;
    outline: 1px solid black;
    text-align: center;
    transition: all .2s ease;
}

.textsc1 a:hover{
    outline: 1px solid rgb(255, 25, 25);
    background: red;
    color: white;
}

.textsc1 h2{
    line-height: 100%;
    color: black;
    text-align: center;
    font-size: calc(10px + 0.4vw);
}

.sec2{
    min-height: 80vh;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 2%;
}
.sec2>h1{
    text-align: start;
    font-size: 26px;
    letter-spacing: 1px;
    margin: 5px 0;
    color: red;
}
.gridsc2{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    height: fit-content;
}
.itensc2{
    background: white;
    width: 95%;
    height: fit-content;
    margin: 8px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vh 2%;
    box-shadow: 0 0 8px black;
}
.itensc2 h3{
    font-weight: bolder;
    font-size: calc(8px + 0.2vw);
}
.itensc2 p{
    font-size: calc(8px + 0.2vw);
}

.sec3 {
    height: 100vh;
    padding: 0 2%;
    background: royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.imgsc3{
    width: 30%;
    height: fit-content;
    transform: rotate(5deg);
    margin-bottom: 10px;
}

.imgsc3 img{
    animation: wide 2s alternate infinite;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.textsc3{
    margin: 8px 0;
    padding: 1vh 2%;
    height: fit-content;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.textsc3 h1{
    color: white;
    font-size: calc(20px + 0.2vw);
    letter-spacing: 1px;
    margin: 5px 0;
}

.textsc3 p{
    font-weight: 500;
    font-size: calc(8px + 0.2vw);
    margin: 6px 0;
    text-align: center;
}
.textsc3 a{
    text-align: center;
    font-size: calc(9px + 0.2vw);
    padding: 5px;
    display: block;
    margin: 8px 0;
    border-radius: 5px;
    background: red;
    color: white;
    width: 100%;
}
.textsc3 a:hover{
    text-align: center;
    padding: 8px;
    display: block;
    border-radius: 5px;
    background: white;
    color: red;
    width: 100%;
}

.sec3>span{
    font-weight: bolder;
    font-size: calc(9px + 0.1vw);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90%;
    letter-spacing: 2px;
}

footer{
    height: 10vh;
    background: white;
}

 footer .center{
    width:90%;
    height: 100%;
    margin: auto;
    display: grid;
    place-content: center;
}

.center ul a{
    text-align: center;
    color: black;
    font-size: 8px;
    margin: 0 8px;
}